.profile {
  max-width: 250px;
  background-color: #fff3f3;
  border-radius: 0.5rem;
  padding-top: 20px;
  text-align: center;
  margin: 20px auto;
}

.avatar {
  max-width: 100px;
  width: 100%;
}

.name {
  font-weight: 700;
}

.tag {
  color: #565965;
}

.location {
  font-size: 12px;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  background-color: #757575;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.stats > li {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.statsItem + .statsItem {
  border-left: 1px solid #565965;
}

.label {
  padding: 5px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #ffffff;
}

.quantity {
  font-size: 14px;
  font-weight: 400;
  color: #a9a9a9;
}
