.transactionHistory {
  display: block;
  min-width: 400px;
  max-width: 600px;

  margin: 40px auto 0;
}

.transactionRow {
  padding: 15px 20px;
  background-color: #b7e3ff;
  border-radius: 0.5rem;
}

.cell {
  width: 100%;
  padding: 20px 40px;
  text-align: center;
}

.cell.data {
  text-align: start;
}

.transactionRowHead {
  composes: transactionRow;
  background-color: #52a7e1;
  padding: 20px 25px;
  margin: 0;
  color: white;
}

.transactionRow + .transactionRow {
  margin-top: 5px;
}
